body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s linear;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  min-height: 90vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  font-weight: 700;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/**
* Navbar css start
*/

.navbar-brand {
  font-size: 2rem;
  font-family: "Lobster", cursive;
  color: green;
}

.navbar-brand:hover {
  color: green;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: green;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.nav-link:hover {
  color: green;
}

.search {
  height: 40px;
  width: 80%;
  border-radius: 60px;
  outline: none;
  margin-right: -35px;
  font-family: "Rubik", sans-serif;
  border: 2px solid green;
}

.search:focus {
  border: 2px solid green;
}

.btn0 {
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  background: green;
  font-weight: 700;
  border-radius: 60px;
  color: white;
}

/**
* Navbar css end
*/

/**
* Landing page css start
*/
#home {
  background: url(./images/front.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: 50% 50%;
  width: 100%;
}

#home h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 10rem;
}

/**
* Landing page css end
*/

.trending .card-body img{
  filter: grayscale();
}
.trending .card-body:hover img{
  filter: grayscale(0%);
  transform: scale(1.1);
}

/* about section in home page */

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
